@font-face {
    font-family: GilroyR;
    src: url(../meida/fonts/Gilroy-Regular.ttf);
}
@font-face {
    font-family: GilroyS;
    src: url(../meida/fonts/Gilroy-Semibold.ttf);
}
@font-face {
    font-family: GilroyM;
    src: url(../meida/fonts/Gilroy-Medium.ttf);
}
@font-face {
    font-family: Coldiac;
    src: url(../meida/fonts/Coldiac.ttf);
}
@font-face {
    font-family: giloryl;
    src: url(../meida/fonts/Gilroy-Light.ttf);
}
@font-face {
    font-family: Charpen;
    src: url(../meida/fonts/CharpentierSansPro-Leger.ttf);
}

$giloryR: 'GilroyR';
$giloryS: 'GilroyS';
$giloryM: 'GilroyM';
$Coldiac: 'Coldiac';
$giloryL: 'giloryl';
$CharpenL: 'Charpen';

p, a, h1, h2, h3, h4, span, ul, li {
    margin: 0;
    padding: 0; 
}
.container {
    width: 1180px;
}

.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 1;
    visibility: visible;
    top: 0;
    left: 0;
    background: #232323;
    z-index: 11;
    transition: all .4s ease;
    .loader {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid white;
        border-top: 10px solid rgb(128, 115, 0);
        border-radius: 50%;
        animation: 1s spin infinite;
    }
    &.done {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


header {
    position: absolute;
    top: 0;
    background: #F7F7F7;
    display: flex;
    width: 100%;
    align-items: center;
    z-index: 10;
    border-bottom: 4px solid rgba(142, 141, 139, 0.6);;
    & .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & ul {
            display: flex;
            list-style: none;
            & li {
                margin-right: 2em;
                & p {
                    color: #8E8D8B;
                    font-size: 24px;
                    font-family: $giloryS;
                }
            }
        }
        & .contacts {
            & p {
                align-items: center;
                display: flex;
                flex-direction: column;
                & span {
                    font-family: $giloryR;
                    color: #8E8D8B;
                    &:first-child {
                        font-size: 24px;
                    }
                    &:last-child {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.swiper {
    height: 100vh;
    & .swiper-wrapper {
        & .swiper-slide {
            width: 100%;
            height: 100vh;
            overflow: hidden;
            &.top {
                overflow: hidden;
                display: flex;
                align-items: center;
                background: linear-gradient(121.99deg, #F7F7F7 10.17%, #B3B3B3 92.29%);
                & .top__text {
                    & h1 {
                        font-family: $Coldiac;
                        font-size: 84px;
                        margin-bottom: 31px;
                        opacity: 0;
                        transform: translateY(150vh);
                        transition: .8s ease;
                    }
                    & p {
                        font-family: $giloryL;
                        font-size: 38px;
                        width: 590px;
                        opacity: 0;
                        transform: translateY(150vh);
                        transition: .8s ease;
                        &:last-child {
                            margin-top: 31px;
                            font-family: $giloryM; 
                        }
                    }
                }
                & .topBg {
                    position: absolute;
                    right: 161px;
                    width: 683px;
                    scale: 20;
                    transform:translateY(150vh);
                    transition: all .9s ease;
                    &.krem {
                        width: auto;
                        height: 70%;
                    }
                }
            }
            &.swiper-slide-active {
                &.top {
                    display: flex;
                    align-items: center;
                    background: linear-gradient(121.99deg, #F7F7F7 10.17%, #B3B3B3 92.29%);
                    & .top__text {
                        & h1 {
                            font-family: $Coldiac;
                            font-size: 84px;
                            margin-bottom: 31px;
                            opacity: 1;
                            transform: translateY(0);
                        }
                        & p {
                            font-family: $giloryL;
                            font-size: 38px;
                            width: 590px;
                            opacity: 1;
                            transform: translateY(0);
                            &:last-child {
                                margin-top: 31px;
                                font-family: $giloryM; 
                            }
                        }
                    }
                    & .topBg {
                        position: absolute;
                        right: 161px;
                        width: 683px;
                        transform: scale(1) translateY(0);
                        &.krem {
                            width: auto;
                            height: 70%;
                        }
                    }
                }
            }
            .slider {
                transform: translateY(-150vh);
                transition: all .8s ease;
                height: auto;
                & .second__bg {
                    width: 100%;
                    position: absolute;
                    z-index: -1;
                    transition: all .8s ease;
                    transform: translateY(100vh);
                    top: 0;
                }
                & .swiper-slide {
                    width: 100%;
                    height: auto;
                    top: 0;
                    overflow: hidden;
                    &.info {
                        min-height: 100vh;
                        
                        
                        & .text {
                            margin-top: 10px;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            text-align: center;
                            & h1 {
                                font-size: 64px;
                                font-family: $CharpenL;
                                color: white;
                                transition: all .9s ease;
                            }
                        }
                        & .tovar {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 100%;
                            border-radius: 15px;
                            border: 3px solid rgba(236,197,57,1);
                            padding: 13px 33px;
                            & p {
                                color: #ECC539;
                                font-family: $CharpenL;
                                font-size: 40px;
                            }
                            & .tovar__card {
                                position: relative;
                                display: flex;
                                width: 100%;
                                margin-top: 19px;
                                & .tovar__img {
                                    position: relative;
                                    margin-right: 1%;
                                    & img {
                                        height: 483px;
                                    }
                                }
                                & .tovar__info {
                                    & p {
                                        font-family: $giloryS;
                                        color: #FFFFFF;
                                        font-size: 32px;
                                        width: 563px;
                                        line-height: 102%;
                                        margin-bottom: 34px;
                                        &.in {
                                            font-family: $giloryR;
                                            font-size: 27px;
                                            line-height: 127.5%;
                                        }
                                    }
                                    & button {
                                        margin-top: 25px;
                                        font-size: 29px;
                                        line-height: 108%;
                                        color: #FFFFFF;
                                        font-family: $giloryR;
                                        border: 3px solid #ECC539;
                                        border-radius: 5px;
                                        background: none;
                                        position: relative;
                                        padding: 23px 26px;
                                    }
                                    & .buttons {
                                        display: flex;
                                        width: 80%;
                                        justify-content: space-between;
                                        & button {
                                            border-radius: 0;
                                            font-family: $giloryR;
                                            font-size: 32px;
                                            line-height: 108%;
                                            background: none;
                                            border: none;
                                            border-bottom: 2px solid white;
                                            color:white;
                                            margin-top: 0;
                                            padding: 0;
                                            display: flex;
                                            align-items: center;
                                            &::after {
                                                position: absolute;
                                                content: ' ';
                                                width: 15px;
                                                height: 23px;
                                                background: url(../meida/arrow.svg) 50% 50% / 100% no-repeat;
                                                right: -30px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.last {
                        display: none;
                        &.active {
                            display: block;
                        }
                        & img {
                            height: .5px;
                        }
                    }
                }
            
            }
            &.swiper-slide-active {
                & .slider {
                    transform: translateY(0);
                    & .second__bg {
                        transform: translateY(0);
                        top: 0;
                    }
                
                }
            }
            &.swiper-slide-prev {
                & .slider {
                    transform: translateY(150vh);
                    & .second__bg {
                        transform: translateY(-100vh);
                        top: 0;
                    }
                
                }
            }
            
        }
        
    }
    & .third {
        position: relative;
        & .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: translateY(-150vh);
            transition: all .8s ease;
            & h1, p {
                width: 100%;
                text-align: center;
                color: white;
                font-family: $CharpenL;
                margin-top: 10px;
                width: 860px;
                font-size: 80px;
            }
            & p {
                font-family: $giloryM;
                font-size: 32px;
                line-height: 39px;
                margin-bottom: 30px;
                &:last-child {
                    margin-top: 26px;
                    width: 930px;
                }
                &.gold {
                    font-size: 32px;
                    line-height: 39px;
                    letter-spacing: 0.05em;
                    color: #E7CC62;
                    width: 100%;
                }
            }
            & button {
                background: linear-gradient(97.42deg, #858585 1.07%, #D3D3D3 59.25%, #747474 105.98%);
                border-radius: 5px;
                font-family: $giloryM;
                font-size: 29px;
                padding: 9px 34px;
                border: none;
                margin-bottom: 40px;
            }
            & .sales {
                width: 100%;
                display: flex;
                justify-content: space-between;
                position: relative;
                & .sales__item {
                    width: 33.33%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-right: 2px solid #E7CC62;
                    & .gold {
                        font-size: 32px;
                        line-height: 39px;
                        letter-spacing: 0.05em;
                        color: #E7CC62;
                        font-size: 64px;
                        width: 100%;
                    }
                    &:last-child {
                        border-right: 0;
                    }
                }
            }
        }
            
        & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: -1;
            transform: translateY(-100vh);
            transition: .8s ease all;
        }
        &.swiper-slide-active {
            & .container {
                transform: translateY(0);
            }
                & img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    z-index: -1;
                    transform: translateY(0);
                }
        }
        &.swiper-slide-prev {
            & .container {
                transform: translateY(150vh);
            }
                & img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    z-index: -1;
                    transform: translateY(100vh);
                }
        }
    }
    & .form {
        min-width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        display: block;
        & .sliderForm {
            box-sizing: border-box;
            height: auto;
            & .form-slide {
                box-sizing: border-box;
                height: auto;
            }
        }
        & .last {
            height: 1px;
        }
        & .form__bg {
            position: absolute;
            right: 50px;
            top: 0;
            z-index: -1;
        }
        & h1 {
            margin-top: 24px;
            width: 100%;
            text-align: center;
            font-family: $giloryS;
            font-size: 36px;
        }
        & form {
            width: 657px;
            display: flex;
            flex-direction: column;
            position: relative;
            & label {
                font-size: 27px;
                line-height: 32px;
                letter-spacing: 0.245em;
                font-family: $giloryR;
                width: 100%;
            }
            & input, textarea {
                padding: 25px 22px;
                background: none;
                border: 4px solid #8E8D8B;
                border-radius: 2px;
                font-family: $giloryS;
                width: 100%;
            }
            & textarea {
                height: 150px;
                margin-bottom: 20px;
            }
            & button {
                border: 3px solid #000000;
                border-radius: 5px;
                background: none;
                font-family: $giloryR;
                padding: 23px 46px;
                width: 50%;
                margin-left: 50%;
            }
        }
    }
}
